/**
 * common
 * -----------------------------------------------------------------------------
 */
#totop{
	position: absolute;
	right: 0;
	bottom:0;
	height: 25px;
	display: block;
	width: 37px;
}
		

/**
 * PageSub
 * -----------------------------------------------------------------------------
 */

//page-sub
 .page-sub{

 }//page-sub

 /**
 * PageHome
 * -----------------------------------------------------------------------------
 */
 //page-home
 .page-home{

 }//page-home

  /**
 * Page Each
 * -----------------------------------------------------------------------------
 */
 //page-concept
 .page-concept{

 }//page-concept